#footer{
	position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
	background: #312F30;
}

#footer-content{
	margin-top: 20px;
}

#podd-logo{
	padding-top: 10px;
}

#btn-logout{
	float: right;
}

#home-btngroup{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#home-btngroup .btn{
	width: 100%;
}

.carousel-image{
	margin: 0 auto;
}

#form-login{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#form-edit-profile, #form-register{
	width: 40%;
}

#pwd-container{
	width:200%;
	display: inline-block;
}

#password_input{
	width: 50%;
	float: left;
	position: relative;
}

#pwd-msg{
	width: 50%;
	float: right;
	position: relative;
	top: 7px;
	padding-left: 5px;

}

#loader{
	float: left;
	visibility: hidden;
	margin-top: 7px;
}

#status{
	float: left;
}

#status_holder{
	display: inline-block;
}

#registration-msg{
	color: #20D600;
}

#successful-registation-container{
	visibility: hidden;
}

#successful-update-container{
	visibility: hidden;
}

#update-msg{
	color: #20D600;
}

.edit_profile_holder{
	visibility: hidden;
	height: 0px;
}

